@model List<Recipes.Models.Recipe>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var recipe in Model)
{
    <div class="list-group">
        <a href="/@recipe.RecipeId" class="list-group-item list-group-item-action my-2">
            <h3>@recipe.Name</h3>
            <p class="hidden-sm">@recipe.Description</p>
        </a>
    </div>
}