<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/site.css">
    <link rel="stylesheet" href="~/Content/open-iconic/font/css/open-iconic-bootstrap.min.css"

    <title>@ViewBag.Title</title>
</head>
<body>
    <!--Start navigation bar-->
    <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
        <div class="container">
            <a href="/"><h1 class="navbar-brand display-1">Recipes</h1></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <div class="navbar-nav">
                    <a class="btn btn-sm btn-outline-primary m-1 btn-dark-hover nav-item" href="~/Recipe/New">New Recipe</a>
                    @if (ViewBag.ParameterTitle == "detail")
                    {
                        <a class="btn btn-sm btn-outline-warning m-1 btn-dark-hover nav-item" href="~/Recipe/Edit/@Model.RecipeId">Edit This Recipe</a>
                        <a class="btn btn-sm btn-outline-danger m-1 btn-dark-hover nav-item" href="~/Recipe/Delete/@Model.RecipeId">Delete This Recipe</a>
                    }
                </div>
            </div>
        </div>
    </nav>
    <!--End navigation bar-->
    <!--Start main content-->
    <div class="container spacer">
        @RenderBody()
    </div>
    <!--End main content-->
    <!--JavaScript-->
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <!-- Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <!-- Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <!-- Custom JS -->
    <script src="~/Content/js/site.js"></script>
</body>
</html>
