<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/90eb0070-53b7-478e-a03e-6f35f2d6c956/resourcegroups/cl-moseswynn/providers/Microsoft.Web/sites/moseswynn-recipes</ResourceId>
    <ResourceGroup>cl-moseswynn</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://moseswynn-recipes.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>moseswynn-recipes.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>moseswynn-recipes</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$moseswynn-recipes</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Recipes.Data.Context" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:moseswynn-recipesdbserver.database.windows.net,1433;Initial Catalog=moseswynn-recipes_db;User ID=moses@moseswynn-recipesdbserver;Password=M0ses&lt;3A4r0n" Name="Data Source=tcp:moseswynn-recipesdbserver.database.windows.net,1433;Initial Catalog=moseswynn-recipes_db;User Id=moses@moseswynn-recipesdbserver;Password=M0ses&lt;3A4r0n" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Recipes.Data.Context, Recipes" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DbConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:moseswynn-recipesdbserver.database.windows.net,1433;Initial Catalog=moseswynn-recipes_db;User ID=moses@moseswynn-recipesdbserver;Password=M0ses&lt;3A4r0n" Name="Data Source=tcp:moseswynn-recipesdbserver.database.windows.net,1433;Initial Catalog=moseswynn-recipes_db;User Id=moses@moseswynn-recipesdbserver;Password=M0ses&lt;3A4r0n" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|MyDatabaseContext-12.mdf;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DbConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\MSSQLLocalDB; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|MyDatabaseContext-12.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DbConnection-Web.config Connection String">
      <ParameterValue>data source=tcp:moseswynn-recipesdbserver.database.windows.net,1433;initial catalog=moseswynn-recipes_db;user id=moses@moseswynn-recipesdbserver;password=M0ses&lt;3A4r0n;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Recipes.Data.Context-Web.config Connection String">
      <ParameterValue>Data Source=tcp:moseswynn-recipesdbserver.database.windows.net,1433;Initial Catalog=moseswynn-recipes_db;User Id=moses@moseswynn-recipesdbserver;Password=M0ses&lt;3A4r0n</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Recipes.Data.Context" />
  </ItemGroup>
</Project>